.turn-tracker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    // border: 1px solid red;

    &__player {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;

        &--active {
            @extend .turn-tracker__player;
            background-color: powderblue;
        }
    }

    &__name-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__player-heading {
        margin-bottom: .25rem;
        font-size: .9rem;
    }

    &__score {
        // width: 40%;
    }

    &__message {
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-grow: 2;
        height: 100%;
        border-right: 2px solid black;
        border-left: 2px solid black;
        font-size: 1.5rem;
    }
}